[alias]
    br = branch
    ci = commit
    co = checkout
    di = diff
    sm = submodule
    st = status
    wt = worktree
    cp = cherry-pick
[user]
	name = Ichito Nagata
	email = i.nagata110@gmail.com
[core]
	editor = vim
    excludesfile = ~/.gitignore
[rebase]
	autosquash = true
[fetch]
	prune = true
[diff "json"]
    textconv = "perl -MJSON -0e \"print JSON->new->canonical->pretty->encode(decode_json(<>))\""
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
